@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant+Infant:ital,wght@1,300&display=swap');
*{
	margin: 0;
}
header{
	height:200px;
	background-color: beige;
}
h1{
	text-align: center;
  font-family: 'Cormorant Infant', serif;
}
#menu{
	width: 15%;
	height: 800px;
	background-color: rgb(50, 0, 100);
	float: left;
}
#content{
	width: 85%;
	height: 800px;
	background-color: rgb(70, 70, 150);
	float: left;
}
footer{
	height: 200px;
	background-color: beige	;
	clear:both	;
}
h2{
	text-align: center;
	color: whitesmoke;
  font-family: 'Bad Script', cursive;
  

}
.button1{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 20px;
 

}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
